*.a
*.la
*.lo
*.o
*.so
*.tar.bz2
*.tar.gz
*~
.bootstrap
.deps
.emacs.desktop
ABOUT-NLS
INSTALL
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config
config.h
config.h.in
config.log
config.status
configure
m4
stamp-h1
