*.a
*.cflow
*.la
*.lo
*.o
*.patch
*.so
*.tar.[gx]z
*.tar.bz2
*~
.bootstrap
.deps
.emacs*
.gdbinit
/cflow-*.tar.*
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config
config.h
config.h.in
config.log
config.status
configure
core
gnu
m4
stamp-h1
tmp/
