*.a
*.la
*.lo
*.o
*.so
*.tar.[gx]z
*.tar.bz2
*~
.bootstrap
.deps
.emacs*
.gdbinit
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config
config.h
config.h.in
config.log
config.status
configure
gnu
m4
stamp-h1
/cflow-*.tar.*
*.cflow
core
tmp/
*.patch
